<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>
  <style>
    body { font-family: Arial, sans-serif; text-align: center; margin-top: 100px; }
    input { margin: 5px; padding: 8px; }
    button { padding: 8px 15px; }
    body {background-color: #001F5C;}

    
    h1,h2,h6,a,p,span{color: aliceblue;}
    .FL{font-size: 10px;}
    
  .COTI{color: black;}
  
  </style>


</head>

<body>

 
  <div style="justify-content:center ; display: flex; align-items:baseline; gap: 10px;">
    <h1>COTIFAC</h1><h6>For LaCasaDeLosGansos</h6>
  </div>

  <h2>🔐 Iniciar Sesión</h2>

  {% if messages %}
    {% for message in messages %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <p><input type="text" name="username" placeholder="Usuario" required></p>
    <p><input type="password" name="password" placeholder="Contraseña" required></p>
    <button type="submit">Ingresar</button>
  </form>

  <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
</body>
</html>
